
@allied-solutions:registry=https://npm.pkg.github.com
always-auth=true

# helpful config for long-running processes due to proxy / mcafee
cache-lock-retries=1000
cache-min=300
fetch-retries=3
fetch-retry-maxtimeout=600000
fetch-retry-mintimeout=100000
update-notifier=false